<%= turbo_frame_tag "video-form" do %>
  <%= form_for resource, builder: ViewComponent::Form::Builder, url: download_videos_path do |f| %>
    <div class="w-full mx-auto flex justify-center h-screen">
      <div class="border-b border-gray-900/10 pb-12 md:w-[600px]">
        <h2 class="text-base font-semibold leading-7 text-gray-900">Video Information</h2>

        <p class="mt-1 text-sm leading-6 text-gray-600">Please choose which format do you want to download.</p>

        <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
          <div class="col-span-full">
            <div>
              <div class="mt-6 flow-root">
                <ul role="list" class="-my-5 divide-y divide-gray-200">
                  <li class="py-4">
                    <div class="flex items-center space-x-4">
                      <div class="flex-shrink-0">
                        <%== svg_icon('svg/film', class: 'w-8 h-8') %>
                      </div>
                      <div class="min-w-0 flex-1">
                        <p class="truncate text-sm font-medium text-gray-900">audio only (tiny)</p>
                        <p class="truncate text-sm text-gray-500">webm</p>
                      </div>
                      <div>
                        <button type="submit" class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 float-right">
                          Download
                        </button>
                      </div>
                    </div>
                  </li>

                  <li class="py-4">
                    <div class="flex items-center space-x-4">
                      <div class="flex-shrink-0">
                        <%== svg_icon('svg/film', class: 'w-8 h-8') %>
                      </div>
                      <div class="min-w-0 flex-1">
                        <p class="truncate text-sm font-medium text-gray-900">640x360 (360p)</p>
                        <p class="truncate text-sm text-gray-500">webm</p>
                      </div>
                      <div>
                        <button type="submit" class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 float-right">
                          Download
                        </button>
                      </div>
                    </div>
                  </li>

                  <li class="py-4">
                    <div class="flex items-center space-x-4">
                      <div class="flex-shrink-0">
                        <%== svg_icon('svg/film', class: 'w-8 h-8') %>
                      </div>
                      <div class="min-w-0 flex-1">
                        <p class="truncate text-sm font-medium text-gray-900">1280x720 (720p)</p>
                        <p class="truncate text-sm text-gray-500">mp4</p>
                      </div>
                      <div>
                        <button type="submit" class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 float-right">
                          Download
                        </button>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
